<%= render 'layouts/nav' %>

<div class="col-md-6 col-md-offset-3 site-section">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><b>Overview</b></h3>
      </div>
      <div class="panel-body">
        Hypothesis: Raw Honey at bed time can improve your sleep
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-3 col-md-offset-3 site-section">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><b>What you need to get started</b></h3>
        </div>
        <div class="panel-body">
          Raw Honey [link]  
        </div>
      </div>
    </div>

    <div class="col-md-3 site-section">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><b>Results</b></h3>
        </div>
        <div class="panel-body">
          <ul>
            <li>This works [%]
            <li>Quality of sleep [1-5]
            <li>Avg days tried [#]
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-md-offset-3 site-section">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><b>COMING SOON:</b> Raw Honey before bed</h3>
      </div>
      <div class="panel-body">
        Hypothesis: Raw Honey at bed time can improve your sleep

Discovered by: Seth Roberts, Dave Asprey, Mark Sisson, Ron Fessenden

Studies: Three studies in children show that honey improves sleep better than placebo or traditional cough medicine for children with upper respiratory infection. 2007, 2010, 2012.

Books: The New Honey Revolution makes this claim as well.
      </div>
    </div>
  </div>