.footer {
  opacity: 1;
  width:100%;
  height:40px;
  position:absolute;
  bottom:0;
}

.logo {
  font-family: 'Anton', sans-serif;
  font-size: 26pt;
  color: white;
  opacity: 0.95;
  line-height: 96%;
  padding-top:12px;
}

.contact_us {
  padding-top:24px;
  text-align: right;
}

.contact_us a {
  font-family: 'Allan', sans-serif;
  font-size: 18pt;
  color: white;
  opacity: 0.95;
}

.quote {
  font-family: 'Allan', sans-serif;
  color: white;
  padding-top:24px;
  font-size: 12pt;
}