.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  font-size: 18px;
  text-align: center;
}

.logo {
  font-family: 'Anton', sans-serif;
  font-size: 26pt;
  color: white;
  opacity: 1;
  line-height: 96%;
  padding-top:12px;
}

.logo:hover {
  text-decoration:none;
  color:white;
}

.contact_us {
  padding-top:24px;
  text-align: right;
}

.contact_us a {
  font-family: 'Allan', sans-serif;
  font-size: 18pt;
  color: white;
  opacity: 1;
}