$mainFont: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$logoFont: 'Anton', sans-serif;
$altFont: 'Ropa Sans', sans-serif;

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #e6e6e6;
  font-size: 16px;
  text-align: center;
  font-family: $mainFont;
  height: 25px;
}

#logo {
  font-family: $logoFont;
  font-size: 26pt;
  color: white;
  opacity: 1;
  line-height: 96%;
  padding-top:12px;
}

#logo:hover {
  text-decoration:none;
  color:white;
}

.contact_us {
  padding-top:24px;
  text-align: right;
}

.contact_us a {
  font-family: 'Allan', sans-serif;
  font-size: 18pt;
  color: white;
  opacity: 1;
}