body {
  margin-top: 50px;
  margin-bottom: 50px;
  background: none;
}

.full {
  background: image-url('cuttingboardquote.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.section_1 {
  height: 300px;
}

p {
  font-family: 'Ropa Sans', sans-serif;
}

.site-section {
  text-align: center;
  font-size: 20px;
}

.site-button {
  text-align: center;
  font-size: 20px;
  /*width: 40px !important;*/
}