// Place all the styles related to the sites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bg_site {
  background-color: #1ca3e2;
  font-family: 'Oswald', sans-serif;
}

.bg_nav {
  background-color: white;
  border-color: #428bca;

  font-family: 'Oswald', sans-serif;
}