<a href="/" class="navbar-brand"><%= image_tag "Logo1.png", size: "180x50" %></a>
<!-- <div class="no_background"> 
  <h1>"All life is an experiment. The more experiments the better!" -Emerson
    <br><br><span>So Try More Things</span>
  </h1> 
</div> -->

<!-- https://github.com/IronSummitMedia/startbootstrap-the-big-picture/blob/gh-pages/index.html -->