<%= render 'layouts/nav' %>

<div class=""> 
  <h1>"All life is an experiment. The more experiments the better!" -Emerson 
    <br><br><span>So Try More Things</span>
  </h1> 
    <h2>Sign up for "The Experiment".</h2> 
    <form action="https://formkeep.com/f/15585ce6bd04" method="POST"> <input type="email" id="email" name="email" placeholder="Your e-mail"> 
      <input type="submit" value="Yes, notify me"> 
    </form> 
</div>