<%= render 'layouts/nav' %>

<div class="container">

  <div class="col-md-6 col-md-offset-3 site-section">
    <br>
    <p>Crowd Vitality brings together people with common health problems and performance goals. Join an experiment here. Share knowledge, track progress, see collective group data and results.</p>
    <button class="btn btn-success btn-block btn-lg hvr-grow">The Bulletproof Coffee Experiment</button>
  </div>

  <div class="col-md-6 col-md-offset-3 site-section before-footer">
    <br>
    <p>Want to start your own focus group?</p>
    <button class="btn btn-warning btn-lg">Find Your People</button>
    <p><br>Want to conduct your own crowd experiment?</p>
    <button class="btn btn-danger btn-lg">Create an Experiment</button>

  </div>

</div>

<%= render 'layouts/footer' %>