<%= render 'layouts/nav' %>

<div class="container main">

  <div class="col-md-6 col-md-offset-3 create">
    <%= link_to "Create Experiment", root_path %>
    <%= link_to "Join Group", root_path, class: "pull-right" %>
  </div>

  <div class="col-md-6 col-md-offset-3 site-section">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><b>COMING SOON:</b> Raw Honey before bed</h3>
      </div>
      <div class="panel-body">
        Does a tablespoon of raw honey make you sleep like a baby? Join this experiment and find out.
      </div>
    </div>
  </div>

  <div class="col-md-6 col-md-offset-3 site-section">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><b>COMING SOON:</b> 5 Days of Bulletproof Coffee</h3>
      </div>
      <div class="panel-body">
        Coffee + Butter + MCT Oil. 5 days, let's see if it works.
      </div>
<!--       <div class="panel-footer">
        Author: Mike
      </div> -->
    </div>
  </div>

  <div class="col-md-6 col-md-offset-3 site-section before-footer">
  </div>
  
<!--   <div class="col-md-6 col-md-offset-3 site-section before-footer">
    <br>
    <p>Want to start your own focus group?</p>
    <button class="btn btn-warning btn-lg">Find Your People</button>
    <p><br>Want to conduct your own crowd experiment?</p>
    <button class="btn btn-danger btn-lg">Create an Experiment</button>
  </div> -->

<!--   <div class="col-md-6 col-md-offset-3 site-section">
    <br>
    <p>Crowd Vitality brings together people with common health problems and performance goals. Join an experiment here. Share knowledge, track progress, see collective group data and results.</p>
    <button class="btn btn-success btn-block btn-lg hvr-grow">The Bulletproof Coffee Experiment</button>
  </div>
 -->

  <div class="col-md-6 col-md-offset-3 site-section before-footer">
  </div>

</div>

<%= render 'layouts/footer' %>