<%= render 'layouts/nav' %>

<div class="container main">

  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="http://girlcrush.la/wordpress/wp-content/uploads/2012/10/honey.jpg" alt="...">
        <div class="caption">
          <h3>Raw Honey before sleep</h3>
          <p>Does a tablespoon of raw honey make you sleep like a baby? Join this experiment and find out.</p>
          <p><a href="#" class="btn btn-primary" role="button">Learn More</a> <a href="#" class="btn btn-default" role="button">Try it Later</a></p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="http://img.breakingmuscle.com/sites/default/files/imagecache/full_width/images/bydate/20130416/bpcoffee2.jpg" alt="...">
        <div class="caption">
          <h3>COMING SOON: 5 Days of Bulletproof Coffee</h3>
          <p>Coffee + Butter + MCT Oil. More energy, less hunger, lose weight?</p>
          <p><a href="#" class="btn btn-primary" role="button">Learn More</a> <a href="#" class="btn btn-default" role="button">Try it Later</a></p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="http://img.breakingmuscle.com/sites/default/files/imagecache/full_width/images/bydate/20130416/bpcoffee2.jpg" alt="...">
        <div class="caption">
          <h3>COMING SOON: 5 Days of Bulletproof Coffee</h3>
          <p>Coffee + Butter + MCT Oil. More energy, less hunger, lose weight?</p>
          <p><a href="#" class="btn btn-primary" role="button">Learn More</a> <a href="#" class="btn btn-default" role="button">Try it Later</a></p>
        </div>
      </div>
    </div>    

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="http://img.breakingmuscle.com/sites/default/files/imagecache/full_width/images/bydate/20130416/bpcoffee2.jpg" alt="...">
        <div class="caption">
          <h3>COMING SOON: 5 Days of Bulletproof Coffee</h3>
          <p>Coffee + Butter + MCT Oil. More energy, less hunger, lose weight?</p>
          <p><a href="#" class="btn btn-primary" role="button">Learn More</a> <a href="#" class="btn btn-default" role="button">Try it Later</a></p>
        </div>
      </div>
    </div>
  </div>
</div>



<%= render 'layouts/footer' %>