<%= render 'layouts/nav' %>

<div class="container">

  <div class="col-md-6 col-md-offset-3 site-section">
    <br>
    <p class="lead">- MISSION -</p> 
    <!-- <p>Life is better when you find the tricks to it. More people, more tricks.</p>  -->
    <!-- <p>We believe that bringing together people with common health problems or performance goals can be more powerful medicine than any doctors or coaches can. Through the power of knowledge sharing, we can all improve ourselves.</p> -->
    <p>To bring together people with common health problems and performance goals. We believe groups of people can provide more powerful medicine than even the best doctor or coach.</p>
  </div>

  <div class="col-md-6 col-md-offset-3 site-button">
    <p class="lead">- HOW IT WORKS -</p> 
    <p> Through the power of knowledge sharing, experimentation and rich data, we can all achieve vitality.</p>
    <p> join an experiment here. Share knowledge, track progress, see collective group data and results.</p>
    <!-- <p>Through people trying things to improve their health or performance, we can all benefit. Try something new with others - join an experiment here. Share knowledge, track progress, see collective group data and results.</p> -->
    <button class="btn btn-success btn-block btn-lg">Join Crowd Experiments</button>
  </div>

  <div class="col-md-6 col-md-offset-3 site-button">
    <br>
    <p>Interested in joining groups or conducting your own crowd experiment?</p>
    <button class="btn btn-warning btn-lg">Find Your People</button>
    <button class="btn btn-danger btn-lg">Create an Experiment</button>

  </div>



</div>

<%= render 'layouts/footer' %>

<!-- <p>Citizen Health is about discovering and testing new ideas to improve health and performance. We believe that 10 peers with a common health problem or performance goal can heal or help each other better than most doctors or coaches. </p>
<p>Let your peers be your doctor or coach</p> -->

<!--     <ul>
      <li>Try mini experiments in groups similar to yourself</li>
      <li>Share knowledge in the comfort of a group</li>
      <li>Have tracking and accountability</li>
      <li>See data and results of the experiment</li>
    </ul>     -->

