  <div class="footer">
<div class="container">
    <p>
      <%= link_to "Home", root_path %> |
      <%= link_to "About", about_path %> |
      <a href="mailto:mike@crowdvitality.com">Contact</a>  
    </p>
  </div>
</div>