<div class="footer">  
  <p>
    <%= link_to "Home", root_path %> |
    <%= link_to "About", about_path %> |
    <%= link_to "Newsletter", mc_signup_path %> |
    <a href="mailto:mike@crowdvitality.com">Contact</a>  
  </p>
</div>