<div class="container">
  <div class="row footer">
    <!-- <div class="col-md-2 col-md-offset-10">   -->
      <!-- <a href="mailto:mike@trymorethings.com">Contact us</a> -->
    <!-- </div> -->
  </div>
</div>

<!--     <div class="hidden-xs hidden-sm col-md-6 quote">
      <p>"All life is an experiment. The more experiments the better!"<cite title="Source Title"> - Ralph Waldo Emerson</cite></p>
    </div> -->


<!-- https://github.com/IronSummitMedia/startbootstrap-the-big-picture/blob/gh-pages/index.html