<div class="full">
  <div class="container">
    <div class="row">
      <div class="col-xs-2 logo">
        <a href="/" id="logo"><p id="logo">crowd<br> vitality</p></a>
      </div>
      <!-- <div class="col-xs-3 pull-right contact_us">
        <a href="/">Home</a>
      </div> -->
    </div>
  </div>
</div>