<div class="container">
  <div class="row">
    <div class="col-xs-2 logo">
      <p>citizen<br> health</p>
    </div>
    <div class="col-xs-3 pull-right contact_us">
      <a href="mailto:mike@trymorethings.com">Contact</a>
    </div>
  </div>
</div>