<div class="full">
  <div class="container">
    <div class="row">
      <div class="col-xs-2 logo">
        <a href="/" id="logo"><p id="logo">crowd<br> vitality</p></a>
      </div>
      <div class="col-xs-3 pull-right contact_us">
        <% if user_signed_in? %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to "Sign Up", new_user_registration_path %><br>
          <%= link_to "Login", new_user_session_path %>
        <% end %>
      </div>
    </div>
  </div>
</div>